<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <h1>Products</h1>
    <a href="/products/new">Add New Product</a>
    <ul>
      <% products.forEach(product => { %>
      <li>
        <h2><%= product.name %></h2>
        <p>Price: <%= product.price %></p>
        <p>Description: <%= product.description %></p>
        <p>Category: <%= product.category.name %></p>
        <div>
          <% product.images.forEach(image => { %>
          <img
            src="<%= image %>"
            alt="<%= product.name %>"
            style="width: 100px"
          />
          <% }) %>
        </div>
        <a href="/products/edit/<%= product._id %>">Edit</a>
        <form
          action="/products/delete/<%= product._id %>"
          method="POST"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
